

/* NavBar*/
.navbar {
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-links a {
    color: rgb(4, 4, 4);
    padding: 20px;
    text-decoration: none;
}

nav a.active {
    background-color: rgba(246, 246, 246, 0.943);
    border-radius: 5px;
}

/* LOGO */
.logo {
    margin: 0px 0px 0px -10px;
    width: 250px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 4em;
    margin-top: 40px;
    text-transform: uppercase;

}

.menu li {
    padding: 5px 14px;
}

/* CollectorList*/

.list-bttn {
    
}


/* CollectorCard*/
.card {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 15px 15px;
    transition: 0.3s;
    width: 300px;
}

.card-bttn {
    
}