body {
    background-color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* NavBar*/
.navbar {
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-links a {
    color: rgb(4, 4, 4);
    padding: 20px;
    text-decoration: none;
}

nav a.active {
    background-color: rgba(246, 246, 246, 0.943);
    border-radius: 5px;
}

/* LOGO */
.logo {
    margin: 0px 0px 0px -10px;
    width: 250px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 7em;
    margin-top: 40px;
    text-transform: uppercase;

}

.menu li {
    padding: 5px 14px;
}


/* CollectorList*/

.list-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 500px;
}

.bttn {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color:rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-size: 16px;
    padding: 10px;
}

.bttn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: .7s;   
}


/* Collectorbttn*/
.collector-bttn {
    display: block;
    width: 100%;
    border: none;
    background-color: rgba(236, 234, 234, 0.943);
    margin: 20px;
    padding: 25px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    cursor: pointer;
    text-align: center;

    /* background-color: rgb(221, 214, 210);
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 15px;
    padding: 15px; */
}
.collector-bttn:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: .7s;
}


/* CollectorForm */
.input {
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 8px;
    padding: 10px;
    width: 25%;
}

.input:hover {
    border-color: rgb(223, 132, 57);
    border-style: double;
}

.input:focus {
    outline-color: rgb(223, 132, 57);
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px
}


/* Record */
.card {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 15px 15px;
    transition: 0.3s;
    width: 300px;
}

.container {
    padding: 2px 16px;
}

.card-img {
    border-radius: 20px;
    width: 300px;
}

.image-container {
    height: 350px
}

.record-bttn {
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin-inline: 10px;
    padding: 5px;
}
    
.record-bttn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: .7s;
}
